*{
    box-sizing: border-box;}

.container{
    max-width: 1200px;
    margin: 0px auto;
    }
body{
    margin: 0;
    padding: 0;}

nav{
    border-bottom:1px solid #C4C4C4;
    display: flex;}
    
nav ul{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;}

.menu{width: 50%;}

.menu li{list-style: none;}

.right li a{
    color: silver;
    font-size: 20px;
    padding-right: 20px;}

.right li a:hover{
    color: #16595A;
    transition: 0.5s;}

.right ul{
    padding-left: 230px;}

.menu a{
    text-decoration: none;
    font-size: 18px ;
    color:black;
    font-family: 'Balsamiq Sans', cursive;}

.left li{
    margin-right: 40px;}

.left a:hover{ 
    font-weight: bold; 
    color:#16595A;
    transition: 0.5s;}

#carouselExampleCaptions {margin-top: 5px;}

.carousel-inner h5 {
    font-size: 72px;
    color:black;
    position: relative;
    bottom: 50px;}

#carouselExampleCaptions > div.carousel-indicators button {
    height: 15px;
    width: 15px;
    border-radius:50%;
    margin-right: 47px;
    opacity: 1;}

article h2{
    text-align: center;
    margin: 30px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;}

.box-card{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;}

.card{
    width: 340px;
    border:none;}

.card h3{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 20px;
    font-family: 'Balsamiq Sans', cursive;}

.card span{
    color:#999999;
    margin-left: 50px;}

.card p{
    border-left: 2px solid #ED8651;
    padding: 0 15px 0 15px;
    text-align: justify;}

footer{
    background-color:#16595A;
    height: 70px;}

footer p{
    color:white;
    text-align:end;
    padding-top: 30px;
    padding-right: 20px;}

                                                            /* Burger menu*/
.menu-for-mobile{
    display:none;
}
.menu-for-mobile{
    width: 100%;
    background-color:white;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
    position: relative;
    text-align: end;
}

#check-menu{
    display: none;
}
label{
    font-size: 25px;
    width:75px;
    cursor: pointer;
    z-index: 2;
    margin-right: 60px;
}
.burger-line{
    top: 8px;
    right: 10px;
    width:35px;
    height: 2px;
    background-color:#30ABAE;
    transition: 0.5s; 
    position: absolute;
}
.menu-for-mobile div:nth-child(3),.menu-for-mobile div:nth-child(4) {
    top: 19px;}

.menu-for-mobile div:nth-child(5),.menu-for-mobile div:nth-child(6){
    top: 30px;}
.main-menu{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s;
}

.main-menu a{
    display: block;
    width: 100%;
    color: white;
    padding: 5px 0;
    text-decoration: none;
    background-color: #30ABAE;
    border-top: 1px solid rgb(255, 255,255, .3);
}

#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 11px;
}
#check-menu:checked ~ .first, .second{
    display: none;
}
#check-menu:checked ~ .fifth, .sixth{
    display: none;
}
#check-menu:checked ~ .third{
    transform: rotate(45deg);
}
#check-menu:checked ~ .fourth{
    transform: rotate(-45deg);
}

@media (max-width: 1200px){
    body{
        margin: 0px;
        padding: 0px;}

    .box-card{
        display: flex;
        flex-wrap: wrap;
        height: auto;}

    .card{
        flex-grow: 1;
        height: auto;
        margin: 30px;} 
}

@media (max-width: 657px){
    .menu-for-mobile{display: block;}
    .right{display: none;}
    .left{display: none;}
}
@media (min-width: 320px){
    .card{
        flex-grow: 1;
        height: auto;
        margin: 0px;}

    .menu-for-mobile{display: block;}
    .right{display: none;}
    .left{display: none;}
}



 
